.importantnews {
  width: 1180px;
  height: 210px;
  margin: 0 auto 20px;
  background: #fff;
  padding: 20px 30px;
  color: #333333;

  .news-title {
    font-size: 14px;
    line-height: 14px;
    color: #666666;
    margin-bottom: 15px;
    i {
      display: inline-block;
      width: 6px;
      height: 6px;
      background-color: #ff7979;
      margin-bottom: 2px;
      margin-right: 10px;
    }
  }

  .newsphoto {
    display: inline-block;
    width: 699px;
    height: 140px;
    overflow: hidden;
    border-right: 1px solid rgba(153,153,153,.2);

    img {
      float: left;
      width: 180px;
      height: 140px;
    }
    div {
      float: right;
      width: 458px;
      margin-right: 30px;
    }
    .newstitle {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 20px;
      height: 48px;
      overflow: hidden;
    }
    .newscontent {
      line-height: 24px;
    }
  }

  .nwes-list {
    float: right;
    width: 420px;
    height: 140px;
    padding: 10px 20px;

    li {
      height: 18px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-bottom: 16px;
      &:before {
        content: '';
        background-color: #999999;
        width: 6px;
        height: 6px;
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 2px;
      }
    }
  }
}