.ant-modal-header {
  background-color: #108EE9 !important;
  .ant-modal-title {
    color: #ffffff !important;
  }

}
.ant-modal-body {
  padding: 25px 20px 10px !important;
  label {
    font-size: 14px;
  }
}
.ant-confirm {
  .ant-modal-body {
    padding: 30px 30px 20px !important;
  }
}